@font-face {
    font-family: 'HarmonyOS Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('HarmonyOS Sans Regular'), url('../fonts/HarmonyOS_Sans_Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'HarmonyOS Sans Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HarmonyOS Sans Italic'), url('../fonts/HarmonyOS_Sans_Regular_Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'HarmonyOS Sans Thin';
    font-style: normal;
    font-weight: normal;
    src: local('HarmonyOS Sans Thin'), url('../fonts/HarmonyOS_Sans_Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'HarmonyOS Sans Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HarmonyOS Sans Thin Italic'), url('../fonts/HarmonyOS_Sans_Thin_Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'HarmonyOS Sans Light';
    font-style: normal;
    font-weight: normal;
    src: local('HarmonyOS Sans Light'), url('../fonts/HarmonyOS_Sans_Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'HarmonyOS Sans Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HarmonyOS Sans Light Italic'), url('../fonts/HarmonyOS_Sans_Light_Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'HarmonyOS Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('HarmonyOS Sans Medium'), url('../fonts/HarmonyOS_Sans_Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'HarmonyOS Sans Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HarmonyOS Sans Medium Italic'), url('../fonts/HarmonyOS_Sans_Medium_Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'HarmonyOS Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('HarmonyOS Sans Bold'), url('../fonts/HarmonyOS_Sans_Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'HarmonyOS Sans Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HarmonyOS Sans Bold Italic'), url('../fonts/HarmonyOS_Sans_Bold_Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'HarmonyOS Sans Black';
    font-style: normal;
    font-weight: normal;
    src: local('HarmonyOS Sans Black'), url('../fonts/HarmonyOS_Sans_Black.woff') format('woff');
    }
    

    @font-face {
    font-family: 'HarmonyOS Sans Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('HarmonyOS Sans Black Italic'), url('../fonts/HarmonyOS_Sans_Black_Italic.woff') format('woff');
    }


html{
    box-sizing: border-box;
	font-family: 'HarmonyOS Sans Regular';
    color: #fff;
    background: url('../images/bg.png') no-repeat fixed;
    background-size: cover;
}
*,*::before,*::after{
    box-sizing: inherit;
}


.wrapper{
	max-width: 1050px;
	margin: 0 auto;
}


.searchArea {
    margin-top: calc(100vh/2 - 110px);

    height: 220px;
    width: 1050px;
}

.mainText {
    width: 1000px;
    text-align: center;
}

.upperText {
    font-family: 'HarmonyOs Sans Bold';
    font-size: 30px;
}

.lowerText{
    margin-top: -5px;
    font-family: 'HarmonyOs Sans Black';
    font-size: 60px;
}

.accent {
    color: #88EE92;
}

.searchField {
    margin-top: 50px;
    height: 100px;
    width: 100%;
}

.searchForm {

    height: 100%;
    width: 1000px;

    margin-left: 25px;

    align-items: center;
    display: flex;

}

.jobName {

    font-family: 'HarmonyOs Sans Regular';

    height: 50px;
    width: 400px;
    
    font-size: 20px;
    border-radius: 15px 0px 0px 15px;
    border: 0px;
    background-color: #383838;
    padding-left: 20px;
    color: #fff;
    border-right: 2px #000000 solid;
}

.jobSchedule {

    font-family: 'HarmonyOs Sans Regular';

    height: 50px;
    width: 200px;
    
    font-size: 20px;
    border: 0;
    background-color: #383838;
    color: #fff;

    padding: 10px;

    border-right: 2px #000000 solid;

}

.jobExp {

    font-family: 'HarmonyOs Sans Regular';

    height: 50px;
    width: 180px;
    
    font-size: 20px;
    border: 0;
    background-color: #383838;
    color: #fff;

    padding: 10px;

    border-radius: 0px 15px 15px 0px;

}

.findBtn {
    margin-left: 20px;

    height: 50px;
    width: 100px;
    border-radius: 15px;
    border: 0;
    background-color: #383838;
    transition: 0.5s;
}

.arrowImg {
    height: 20px;
}

.findBtn:hover {
    transition: 0.5s;
    border-radius: 17px;
    background-color: #88EE92;
}