<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>careerPractice</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    
    <section class="main">
        <div class="wrapper">
            <div class="searchArea">
                <div class="mainText">
                    <h1 class="upperText">Миллионы вакансий...</h1>
                    <h1 class="lowerText">...и все в <a class="accent">одном</a> месте!</h1>
                </div>

                <div class="searchField">
                    <form action="/search" class="searchForm">
                        <input class="jobName" placeholder="Попробуйте найти что нибудь..." type="text" name="job">
                        <button class="findBtn">
                            <img src="../static/images/arrow.svg" class="arrowImg">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>