<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>careerPractice | {{ job }}</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/stats.css">
    <link rel="icon" href="../static/images/favicon.svg">
</head>
<body>

    <section class="stats">
        <div class="wrapper">
            <div class="statsBlock">
                <h1 class="mainText">Да-да, это статистика!</h1>
                <h1 class="mostLabel"><a class="accent">{{request}}</a> - запрос с самым большим количеством вакансий!</h1>
                <h1 class="found"><a class="accent">{{count}}</a> - а именно столько вакансий было найдено</h1>
                <a href="/" class="goToMain">Круто! А теперь на главную...</a>
            </div>


        </div>
    </section>

    <section class="footer">
        <div class="wrapper">
            Вакансии получены при помощи https://api.hh.ru <br>
            Дубровин Александр БВТ2304. Учебная практика 2024 год
        </div>
    </section>

</body>
</html>